{% extends "channels/channels.html" %}
{% load url from future %}

{% comment %}

Make friends with people on an list input either manually, or via a csv file

{% endcomment %}

{% block title %}
Make friends
{% endblock %}

{% block content %}
<form enctype="multipart/form-data" method="post" action="{% url 'friendall' %}" method="post">{% csrf_token %}
<h2>Make friends online</h2>
<ol>
<li>First, make sure you're logged into Skype</li><br>
<li>Add an invitation message, if you want to: {{ form.message }} </li><br>
<li>And add a list of Skypeids to make friends with, either:</li><br>
<ul>
<li>As a list separated by commas: {{ form.idlist }}</li><br>
<li>Or as a CSV file, with a header row, and skypeids in its first column: 
{{ form.idsfile }}</li><br>
</ul>
<li>Then press this button: <input type="submit" value="Make Friends" /></li>
</ol>
</form>

{% endblock %}